[Unit]
Description=CCT VME Service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/linuxvmeen/ins start
ExecStop=/usr/local/linuxvmeen/uns stop

[Install]
WantedBy=multi-user.target